<!doctype html>
{% load static %}
{%load crispy_forms_tags %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>{% block title %}Job FInder {% endblock title %} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

<!-- CSS here -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'css/price_rangs.css' %}">
        <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        </head>


   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'Home' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="{% url 'Home' %}">Home</a></li>
                                            {% if not user.is_authenticated %}
                                            <li><a href="{% url 'job_list_not_auth' %}">Find a Jobs </a></li>
                                            <li><a href="{% url 'About' %}">About</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                            {% if user.type == 'Is JobSeeker' %}

                                            <li><a href="{% url 'show-jobs' %}">Show Jobs</a></li>
                                            <li><a href="{% url 'job-applications-list'  %}">Check Applied Jobs</a></li>
                                            <li>
                                                <a href="{% url 'Notification' %}">
                                                    <img style="height: 4vh; cursor: pointer; filter: brightness(0);" src="{% static 'img/notification.png' %}">
                                                </a>
                                            </li>

                                            {% endif %}
                                            {% if user.type == 'Is JobRecruiter' %}
                                            <li><a href="{% url 'create-job' %}">Post Job</a></li>
                                            <li><a href="{% url 'user-jobs' %}">Check Posted Jobs</a></li>
                                            {% endif %}
                                            {% endif %}


                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                {% if not user.is_authenticated %}
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="{% url 'Registration' %}" class="btn head-btn1">Register</a>
                                    <a href="{% url 'Login' %}" class="btn head-btn2">Login</a>
                                </div>
                                {% endif %}
                                {% if user.is_authenticated %}
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="{% url 'Profile' %}" class="btn head-btn1">Profile</a>
                                    <a href="{% url 'Logout' %}" class="btn head-btn2">Logout</a>
                                </div>
                                {% endif %}


                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>
    {% block content %}
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center"
                     data-background="{% static 'img/hero/h1_hero.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Find the most exciting startup jobs</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                        <div class="row">
                            <div class="col-xl-8">
                                <!-- form -->
                                <form action="/searchjob/" class="search-box">
                                    <div class="input-form">
                                        <input type="text" placeholder="Job Tittle or keyword" name="job_title"
                                               id="job_title">
                                    </div>
                                    <div class="select-form input-form">
                                            <input type="text" placeholder="Search By Location" name="location"
                                               id="location">

                                    </div>
                                        <button class="btn btn-warning" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Our Services Start -->
        <div class="our-services section-pad-t30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>FEATURED TOURS Packages</span>
                            <h2>Browse Top Categories </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="{% url 'job_list_not_auth' %}">Design & Creative</a></h5>
                                <span>(653)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-cms"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="{% url 'job_list_not_auth' %}">Design & Development</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-report"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="{% url 'job_list_not_auth' %}">Sales & Marketing</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-app"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="{% url 'job_list_not_auth' %}">Mobile Application</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-helmet"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="{% url 'job_list_not_auth' %}">Construction</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-high-tech"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="{% url 'job_list_not_auth' %}">Information Technology</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-real-estate"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="{% url 'job_list_not_auth' %}">Real Estate</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-content"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="job_listing.html">Content Writer</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50">
                            <a href="{% url 'job_list_not_auth' %}" class="border-btn2">Browse All Sectors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
        <!-- Online CV Area Start -->
         <div class="online-cv cv-bg section-overly pt-90 pb-120"
              data-background="{% static 'img/gallery/cv_bg.jpg' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="cv-caption text-center">
                            <p class="pera1">FEATURED TOURS Packages</p>
                            <p class="pera2"> Make a Difference with Your Online Resume!</p>
                            <a href="{% url 'Registration' %}" class="border-btn2 border-btn4">Upload your cv</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Online CV Area End-->
        <!-- Featured_job_start -->
        <section class="featured-job-area feature-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Recent Job</span>
                            <h2>Featured Jobs</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <!-- single-job-content -->
                        {% for job in jobs %}
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                            {% if job.company_image %}
                                                <a href="{% url 'JobDetail' job.id %}"><img
                                                        src="{{ job.company_image.url }}" alt=""
                                                                 class="img-fluid"
                                                                 style="width: 100px; height: 90px;"></a>
                                            {% else %}
                                            <p>No Image Available</p>
                                            {% endif %}
                                        </div>
                                <div class="job-tittle">
                                    <a href="{% url 'JobDetail' job.id %}"><h4>{{ job.job_title }}</h4></a>
                                    <ul>
                                        <li>{{ job.company_name }}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ job.location }}</li>
                                        <li>Rs. {{ job.salary }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="{% url 'JobDetail' job.id %}">{{ job.job_type }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured_job_end -->
        <!-- How  Apply Process Start-->
        <div class="apply-process-area apply-bg pt-150 pb-150"
             data-background="{% static 'img/gallery/how-applybg.png' %}">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle white-text text-center">
                            <span>Apply process</span>
                            <h2> How it works</h2>
                        </div>
                    </div>
                </div>
                <!-- Apply Process Caption -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-search"></span>
                            </div>
                            <div class="process-cap">
                               <h5>1. Search a job</h5>
                               <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-curriculum-vitae"></span>
                            </div>
                            <div class="process-cap">
                               <h5>2. Apply for job</h5>
                               <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="process-cap">
                               <h5>3. Get your job</h5>
                               <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- How  Apply Process End-->
        <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->


                        {% for about in abouts %}
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="{{ about.image.url }}" alt="">
                                            <span>{{ about.name }}</span>
                                            <p>{{ about.position }}</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“{{ about.about }}”</p>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
         <!-- Support Company Start-->
         <div class="support-company-area support-padding fix section-padding2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>What we are doing</span>
                                <h2>24k Talented people are getting Jobs</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Mollit anim laborum duis au dolor in voluptate velit ess cillum dolore eu lore dsu quality mollit anim laborumuis au dolor in voluptate velit cillum.</p>
                                <p>Mollit anim laborum.Duis aute irufg dhjkolohr in re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur signjnt occa cupidatat non inulpadeserunt mollit aboru. temnthp incididbnt ut labore mollit anim laborum suis aute.</p>
                                <a href="{% url 'About' %}" class="btn post-btn">Post a job</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src="{% static 'img/service/support-img.jpg' %}" alt="">
                            <div class="support-img-cap text-center">
                                <p>Since</p>
                                <span>1994</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->

    </main>
    {% endblock content %}
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                             <div class="footer-tittle">
                                 <h4>About Us</h4>
                                 <div class="footer-pera">
                                     <p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so behold.</p>
                                </div>
                             </div>
                         </div>

                       </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                    <p>Address :Your address goes
                                        here, your demo address.</p>
                                    </li>
                                    <li><a href="#">Phone : +8880 44338899</a></li>
                                    <li><a href="#">Email : info@colorlib.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="#"> View Project</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">Proparties</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                 <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
                             </div>
                             <!-- Form -->
                             <div class="footer-form" >
                                 <div id="mc_embed_signup">
                                     <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                     method="get" class="subscribe_form relative mail_part">
                                         <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                         class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                         onblur="this.placeholder = ' Email Address '">
                                         <div class="form-icon">
                                             <button type="submit" name="submit" id="newsletter-submit"
                                             class="email_icon newsletter-submit button-contactForm"><img
                                                     src="{% static 'img/icon/form.png' %}" alt=""></button>
                                         </div>
                                         <div class="mt-10 info"></div>
                                     </form>
                                 </div>
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!--  -->
               <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <!-- logo -->
                        <div class="footer-logo mb-20">
                        <a href="{% url 'Home' %}"><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="footer-tittle-bottom">
                        <span>{{ jobs_count }}+</span>
                        <p>Jobs Available</p>
                    </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>{{ seekers_count }}</span>
                            <p>Job Seekers</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <!-- Footer Bottom Tittle -->
                        <div class="footer-tittle-bottom">
                            <span>{{ recruiter_count }}</span>
                            <p>Job Recruiters</p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex justify-content-between align-items-center">
                         <div class="col-xl-10 col-lg-10 ">
                             <div class="footer-copy-right">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website Is
                                     Created By Lokesh Jain
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                         <div class="col-xl-2 col-lg-2">
                             <div class="footer-social f-right">
                                 <a href="#"><i class="fab fa-facebook-f"></i></a>
                                 <a href="#"><i class="fab fa-twitter"></i></a>
                                 <a href="#"><i class="fas fa-globe"></i></a>
                                 <a href="#"><i class="fab fa-behance"></i></a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

  <!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Jquery Mobile Menu -->
        <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

        <!-- Jquery Slick, Owl-Carousel Plugins -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/price_rangs.js' %}"></script>

        <!-- One Page, Animated-HeadLin -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/animated.headline.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

        <!-- Jquery Plugins, main Jquery -->
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>


    </body>
</html>





























<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--{%load crispy_forms_tags %}-->

<!--<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>{% block titttle %}Home Page {% endblock titttle %}</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'css/boot.css' %}">-->
<!--    <style>-->
<!--            .bg-image {-->
<!--        position: relative;-->
<!--        width: 100%;-->
<!--        height: 100vh;-->
<!--        background-image: url('{% static 'images/krmu.jpg' %}');-->
<!--        background-size: cover;-->
<!--        background-repeat: no-repeat;-->
<!--        background-position: center center;-->
<!--        }-->

<!--        .bg-image::before {-->
<!--            content: "";-->
<!--            position: absolute;-->
<!--            top: 0;-->
<!--            left: 0;-->
<!--            width: 100%;-->
<!--            height: 100%;-->
<!--            background-image: inherit;-->
<!--            background-size: cover;-->
<!--            background-repeat: no-repeat;-->
<!--            background-position: center center;-->
<!--            opacity: 0.5;-->
<!--            z-index: -1;-->
<!--        }-->
<!--        .login{-->
<!--            margin-top:17%;-->
<!--        }-->
<!--        @media screen and (max-width: 600px) {-->
<!--            .login {-->
<!--                margin-top: 0px;-->
<!--            }-->
<!--        }-->
<!--        .bg-image .container {-->
<!--            position: relative;-->
<!--            z-index: 1;-->
<!--        }-->
<!--            .footer-below{-->
<!--            text-align:center;-->
<!--            font-size: 30px;-->
<!--            }-->
<!--        @media screen and (max-width: 600px) {-->
<!--        .footer-below{-->
<!--            text-align:center;-->
<!--            font-size: 18px;-->
<!--            }-->
<!--        }-->
<!--        .dropdown-item:hover {-->
<!--            background-color: #007bff;-->
<!--            color: white;-->
<!--          }-->
<!--    </style>-->
<!--</head>-->
<!--<body style="background-color: beige;">-->


<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--    <a class="navbar-brand me-5 ms-3" href="{% url 'Home' %}">Jobs</a>-->
<!--    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">-->
<!--        {% if not user.is_authenticated %}-->
<!--         <ul class="navbar-nav mr-auto mt-2 mt-lg-0 bd-navbar-nav flex-row">&ndash;&gt;-->
<!--              <li class="nav-item">-->
<!--                  <a class="nav-link active" href="{% url 'About' %}"><button type="button"-->
<!--                                                    class="btn btn-outline-primary border-white text-white">-->
<!--                      About</button></a>-->
<!--              </li>-->
<!--        </ul>-->
<!--        <ul class="navbar-nav mt-2 mt-lg-0 bd-navbar-nav flex-row right" style="position: absolute; right: 6%;">-->
<!--    <li class="nav-item">-->
<!--        <div style="display: flex; flex-direction: row;">-->
<!--            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 bd-navbar-nav flex-row">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="#"><button type="button"-->
<!--                                                        class="btn btn-outline-primary border-white text-white">Sign In-->
<!--                    </button></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 bd-navbar-nav flex-row">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="#"><button type="button"-->
<!--                                                        class="btn btn-outline-primary border-white text-white">Sign Up For Job Recruiter</button></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 bd-navbar-nav flex-row">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="#"><button type="button"-->
<!--                                                        class="btn btn-outline-primary border-white text-white">Sign Up For Job Seeker</button></a>-->
<!--                </li>-->
<!--            </ul>-->

<!--        </div>-->
<!--    </li>-->
<!--</ul>-->
<!--        {% endif %}-->



<!--        {% if user.is_authenticated %}-->
<!--        {% if perms.app.can_view_recruiter_custom %}-->
<!--             <ul class="navbar-nav mr-auto mt-2 mt-lg-0 bd-navbar-nav flex-row">-->
<!--                  <li class="nav-item">-->
<!--                      <a class="nav-link active" href="#"><button type="button"-->
<!--                                                        class="btn btn-outline-primary border-white text-white">-->
<!--                          Post Any Job</button></a>-->
<!--                  </li>-->
<!--             </ul>-->
<!--             <ul class="navbar-nav mr-auto mt-2 mt-lg-0 bd-navbar-nav flex-row">-->
<!--                  <li class="nav-item">-->
<!--                      <a class="nav-link active" href="#"><button type="button"-->
<!--                                                        class="btn btn-outline-primary border-white text-white">-->
<!--                          Show Posted Jobs</button></a>-->
<!--                  </li>-->
<!--             </ul>-->

<!--        {% endif %}-->
<!--        <ul class="navbar-nav mt-2 mt-lg-0 bd-navbar-nav flex-row right" style="position: absolute; right: 6%;">-->
<!--    <li class="nav-item">-->
<!--        <div style="display: flex; flex-direction: row;">-->
<!--            <div class="text-center text-lg-start me-3">-->
<!--                <div style="color:white; font-size: 25px;">-->
<!--                    <a href="#">-->
<!--                        <img style="height: 4vh; cursor: pointer;" src="{% static 'images/notification.png' %}"><span-->
<!--                            class="badge badge-success">-->
<!--                    {{notify_count}}</span></a>-->
<!--                    </div>-->

<!--            </div>-->
<!--            <div class="text-center text-lg-start me-3">-->
<!--                <div style="color:white; font-size: 25px">{{request.user}}</div>-->
<!--            </div>-->
<!--            <div class="dropdown">-->
<!--                <img src="{% static 'images/profile.png' %}" alt="Image" id="dropdownMenuButton"-->
<!--                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 4vh; cursor: pointer;">-->
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                    <a class="dropdown-item" href="#">Profile</a>-->
<!--                    <a class="dropdown-item" href="#">Logout</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </li>-->
<!--</ul>-->
<!--        {% endif %}-->
<!--        {% if perms.app.can_view_job_seekers_custom %}-->
<!--        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 bd-navbar-nav flex-row">-->
<!--                  <li class="nav-item">-->
<!--                      <a class="nav-link active" href="#"><button type="button"-->
<!--                                                        class="btn btn-outline-primary border-white text-white">-->
<!--                          Show Jobs</button></a>-->
<!--                  </li>-->
<!--             </ul>-->
<!--             <ul class="navbar-nav mr-auto mt-2 mt-lg-0 bd-navbar-nav flex-row">-->
<!--                  <li class="nav-item">-->
<!--                      <a class="nav-link active" href="#"><button type="button"-->
<!--                                                        class="btn btn-outline-primary border-white text-white">-->
<!--                          Check Applied Jobs</button></a>-->
<!--                  </li>-->
<!--             </ul>-->
<!--        {% endif %}-->
<!--  </div>-->
<!--    </nav>-->



























<!--{% block contttent %}-->


<!--    {% if not user.is_authenticated %}-->

<!--<div class="container mt-5 shadow">-->
<!--    {% if jobs %}-->
<!--    <h1 class="text-center mb-4 display-4">Jobs</h1>-->
<!--    <div class="job-rotation-container" id="jobRotationContainer">-->
<!--        <div class="job-cards">-->
<!--            {% for job in jobs %}-->
<!--                <div class="job-card">-->
<!--                <h5 class="card-title text-center bg-primary text-white p-2">{{ job.job_title }}</h5>-->
<!--                <p class="card-subtitle mb-2"><strong>Company Name: </strong>  {{ job.company_name }}</p>-->
<!--                <p><strong>Location:</strong> {{ job.location }}</p>-->
<!--                <p><strong>Job Type:</strong> {{ job.get_job_type_display }}</p>-->
<!--                <p><strong>Industry:</strong> {{ job.get_industry_category_display }}</p>-->
<!--                <p><strong>Salary:</strong> Rs.{{ job.salary }}</p>-->
<!--                <p><strong>Requirements:</strong> {{ job.job_requirements }}</p>-->
<!--                <p><strong>Education Requirements:</strong> {{ job.education_requirements }}</p>-->
<!--                <p><strong>Experience Level:</strong> {{ job.experience_level }}</p>-->
<!--                <p><strong>Contact Information:</strong> {{ job.contact_information }}</p>-->
<!--                <p><strong>Benefits:</strong> {{ job.benefits }}</p>-->
<!--                <p><strong>Skills and Qualities:</strong> {{ job.skills_and_qualities }}</p>-->
<!--                <div class="d-grid gap-2">-->
<!--                    {% if job.id in applied_jobs %}-->
<!--                        <span class="text-success"> Already Applied</span>-->
<!--                    {% else %}-->
<!--                        <a href="{% url 'Login' %}" class="btn btn-primary">Apply</a>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    </div>-->

<!--</div>-->
<!--    <marquee direction="left" scrollamount="3">-->
<!--        <h2 class="text-danger mt-2">For More Jobs Please Create A Account</h2>-->
<!--    </marquee>-->
<!--    {% else %}-->
<!--        <h1 class="text-center mb-4 display-4">No Jobs Avaliable</h1>-->
<!--    {% endif %}-->


<!--</div>-->

<!--    {% endif %}-->
<!--<style>-->
<!--.job-rotation-container {-->
<!--    overflow: hidden;-->
<!--    width: 100%;-->
<!--    margin: 0 auto;-->
<!--}-->

<!--.job-cards {-->
<!--    display: flex;-->
<!--    flex-direction: row;-->
<!--    animation: rotate-jobs 90s linear infinite;-->
<!--    width: 100%;-->
<!--}-->

<!--.job-card {-->
<!--    flex: 0 0 auto;-->
<!--    width: 40%;-->
<!--    margin-right: 15px;-->
<!--    transition: transform 1s;-->
<!--}-->

<!--#jobRotationContainer:hover .job-cards {-->
<!--    animation-play-state: paused;-->
<!--}-->

<!--@keyframes rotate-jobs {-->
<!--    0%, 100% {-->
<!--        transform: translateX(0);-->
<!--    }-->
<!--    20% {-->
<!--        transform: translateX(-100%);-->
<!--    }-->
<!--    40% {-->
<!--        transform: translateX(-200%);-->
<!--    }-->
<!--    60% {-->
<!--        transform: translateX(-300%);-->
<!--    }-->
<!--    80% {-->
<!--        transform: translateX(-400%);-->
<!--    }-->
<!--}-->
<!--</style>-->
<!--{% endblock contttent %}-->

<!-- &lt;!&ndash; Bootstrap JS and jQuery (optional) &ndash;&gt;-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

<!--</body>-->
<!--</html>-->





















<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;{% load static %}&ndash;&gt;-->
<!--&lt;!&ndash;{% load crispy_forms_tags %}&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <meta name="viewport" content="width=device-width, initial-scale=1">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>{% block tittle %}Home Page {% endblock tittle %}</title>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css">&ndash;&gt;-->


<!--&lt;!&ndash;&lt;!&ndash;    <link rel="stylesheet" href="{% static 'css/styles.css' %}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <link rel="stylesheet" href="{% static 'css/boot.css' %}">&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<nav class="navbar navbar-expand-lg navbar-light bg-dark">&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="navbar-brand text-white" href="{% url 'Home' %}">Jobs</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;    {% if not user.is_authenticated %}&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="collapse navbar-collapse" id="navbarNav">&ndash;&gt;-->
<!--&lt;!&ndash;      <ul class="navbar-nav ms-auto">&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link active with-line" aria-current="page" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-primary">Sign In</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link active with-line" aria-current="page" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-primary">Sign Up For Job Recruiter</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-primary">Sign Up For Job Seeker</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;      </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;    {% if user.is_authenticated %}&ndash;&gt;-->
<!--&lt;!&ndash;      {% if perms.app.can_view_recruiter_custom %}&ndash;&gt;-->
<!--&lt;!&ndash;      <ul class="navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-primary">Post Job</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-primary">Check Posted Jobs</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;          {% endif %}'&ndash;&gt;-->
<!--&lt;!&ndash;          {% if perms.app.can_view_job_seekers_custom %}&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-primary">View Jobs</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-primary">Check Applied Applications</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--&lt;!&ndash;            {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;      </ul>&ndash;&gt;-->
<!--&lt;!&ndash;      <ul class="navbar-nav ms-auto">&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <div style="display: flex; flex-direction: row;">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-center text-lg-start me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div style="color: white; font-size: 25px"><a href="#">Profile</a>&ndash;&gt;-->
<!--&lt;!&ndash;                 </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div class="text-center text-lg-start me-3">&ndash;&gt;-->
<!--&lt;!&ndash;              <div style="color: white; font-size: 25px">{{ request.user }}</div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="text-center text-lg-start me-3">&ndash;&gt;-->
<!--&lt;!&ndash;              <div style="color: white; font-size: 25px"><a href="#">Logout</a></div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <div class="dropdown">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none;">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <img src="{% static 'images/profile.png' %}" alt="Image" style="height: 4vh; cursor: pointer;">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <a class="dropdown-item" href="#">Logout</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;      </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->

<!--&lt;!&ndash;{% block conttent %}&ndash;&gt;-->
<!--&lt;!&ndash;{% if not user.is_authenticated %}&ndash;&gt;-->



<!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container mt-5 shadow">&ndash;&gt;-->
<!--&lt;!&ndash;  <h1 class="text-center mb-4 display-4">All Jobs</h1>&ndash;&gt;-->
<!--&lt;!&ndash;  {% if jobs %}&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;      {% for job in jobs %}&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="card mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;              <h5 class="card-title text-center bg-primary text-white p-2">{{ job.job_title }}</h5>&ndash;&gt;-->
<!--&lt;!&ndash;              <h6 class="card-subtitle mb-2 text-muted">{{ job.company_name }}</h6>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text"><strong>Location:</strong> {{ job.location }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text"><strong>Job Type:</strong> {{ job.get_job_type_display }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text"><strong>Industry:</strong> {{ job.get_industry_category_display }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text"><strong>Salary:</strong> Rs.{{ job.salary }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text"><strong>Requirements:</strong> {{ job.job_requirements }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text"><strong>Education Requirements:</strong> {{ job.education_requirements }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text"><strong>Experience Level:</strong> {{ job.experience_level }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text"><strong>Contact Information:</strong> {{ job.contact_information }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text"><strong>Benefits:</strong> {{ job.benefits }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text"><strong>Skills and Qualities:</strong> {{ job.skills_and_qualities }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="d-grid gap-2">&ndash;&gt;-->
<!--&lt;!&ndash;                {% if job.id in applied_jobs %}&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="text-success"> Already Applied</span>&ndash;&gt;-->
<!--&lt;!&ndash;                {% else %}&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="{% url 'Login' %}" class="btn btn-primary">Apply</a>&ndash;&gt;-->
<!--&lt;!&ndash;                {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;        <marquee behavior="" direction="left"&ndash;&gt;-->
<!--&lt;!&ndash;                 class="text-danger"><b>You Need To Create Account For More Jobs</b></marquee>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;  {% else %}&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="alert alert-info" role="alert" style="background-color: #f3f3f3;">&ndash;&gt;-->
<!--&lt;!&ndash;      No jobs available.&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;{% endblock conttent %}&ndash;&gt;-->




<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
