{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Apply For Job {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Apply For Job</h1>
        </div>
    </div>
    <form action="" method="POST" class="shadow-lg p-5 mb-5 bg-body rounded" id="signup-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="popup-user-message" class="popup-message">
            {% if messages %}
                <ul class="messages" style="list-style-type: none;">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            <span style="color: {% if message.tags == 'success' %}blue{% elif message.tags == 'error' %}red{% else %}black{% endif %};">
                                {{ message }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {{ form|crispy }}
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>

{% endblock content %}