{% extends "base.html" %}
{% load static %}
{% block title %} Show Job {% endblock title %}
{% block content %}
<div class="container">
    <h1 class="text-center">{{ job.job_title }}</h1>
    <div class="job-details">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Company</th>
                    <td>{{ job.company_name }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ job.location }}</td>
                </tr>
                <tr>
                    <th>Job Type</th>
                    <td>{{ job.get_job_type_display }}</td>
                </tr>
                <tr>
                    <th>Industry Category</th>
                    <td>{{ job.get_industry_category_display }}</td>
                </tr>
                <tr>
                    <th>Salary</th>
                    <td>Rs. {{ job.salary }}</td>
                </tr>
                <tr>
                    <th>Job Requirements</th>
                    <td>{{ job.job_requirements }}</td>
                </tr>
                <tr>
                    <th>Education Requirements</th>
                    <td>{{ job.education_requirements }}</td>
                </tr>
                <tr>
                    <th>Experience Level</th>
                    <td>{{ job.experience_level }}</td>
                </tr>
                <tr>
                    <th>Contact Information</th>
                    <td>{{ job.contact_information }}</td>
                </tr>
                <tr>
                    <th>Benefits</th>
                    <td>{{ job.benefits }}</td>
                </tr>
                <tr>
                    <th>Skills and Qualities</th>
                    <td>{{ job.skills_and_qualities }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center mb-3">
            <a href="{% url 'JobApplicationCreateView' job_id=job.id %}" class="btn btn-primary apply-button">Apply</a>
        </div>
</div>

<style>
    .job-details {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    }

    .apply-button {
        margin-top: 20px;
    }
</style>

{% endblock content %}
