{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title">Confirm Delete Job</h1>
                        <p class="card-text">Are you sure you want to delete the job "{{ job.job_title }}"?</p>

                        <form method="post">
                            {% csrf_token %}
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <a href="{% url 'user-jobs' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
