{% extends 'base.html' %}
{% load static %}
{% block title %} Password Forget Successfully {% endblock title %}

{% block content %}
<div class="bg-image">

<!--<div class="container d-flex justify-content-center align-items-center vh-100">-->
<!--    <div class="card text-center" style="width: 300px;">-->
<!--        <div class="card-header h5 text-white bg-primary">Password Reset</div>-->
<!--        <p>Your password has been changed successfully. Please<br>-->
<!--            <a href="{% url 'Home' %}" class="btn btn-primary">Login</a></p>-->
<!--    </div>-->
<!--</div>-->

<!--</div>-->
    <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center"
                     data-background="{% static 'img/hero/h1_hero.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h2>Your password has been changed successfully.</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                        <div class="row">
                            <div class="col-xl-8">
                                <a href="{% url 'Login' %}" class="btn btn-primary">Login</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock content %}