{% extends "base.html" %}
{% load static %}
{%load crispy_forms_tags %}
{% block title %} Registration {% endblock title %}
{% block content %}
<div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center"
                     data-background="{% static 'img/hero/h1_hero.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Registration</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                        <div class="row">
                            <div class="col-xl-8">
                                <!-- form -->
                                <div id="popup-user-message" class="popup-message">
                                    {% for message in messages %}
                                            <div class="alert alert-danger">
                                                {{ message }}
                                            </div>
                                    {% endfor %}
                                </div>
                                <form method="POST">{% csrf_token %}
                                    {{ form|crispy }}
                                    <div class="text-center mt-3">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock content %}