{% extends "base.html" %}
{% block title %} All Jobs{% endblock title %}
{% block content %}
  <div class="container mt-4">
    <h2 class="text-center">Your Posted Jobs</h2>
    <div class="row justify-content-center">
      <div class="col-12">
        {% if jobs %}
          <ul class="list-group">
            {% for job in jobs %}
              <li class="list-group-item">
                <h3>{{ job.job_title }}</h3>
                <p><strong>Company:</strong> {{ job.company_name }}</p>
                <p><strong>Location:</strong> {{ job.location }}</p>
                <p><strong>Job Type:</strong> {{ job.job_type }}</p>
                <p><strong>Industry Category:</strong> {{ job.industry_category }}</p>
                <p><strong>Salary:</strong> {{ job.salary }}</p>
                <p><strong>Job Requirements:</strong> {{ job.job_requirements }}</p>
                <p><strong>Education Requirements:</strong> {{ job.education_requirements }}</p>
                <p><strong>Experience Level:</strong> {{ job.experience_level }}</p>
                <p><strong>Contact Information:</strong> {{ job.contact_information }}</p>
                <p><strong>Benefits:</strong> {{ job.benefits }}</p>
                <p><strong>Skills and Qualities:</strong> {{ job.skills_and_qualities }}</p>

                <div class="text-center mt-3">
                    <a href="{% url 'edit-job' job.pk %}" class="btn btn-primary btn-sm mx-1">Edit</a>
                    <a href="{% url 'delete-job' job.pk %}" class="btn btn-danger btn-sm mx-1">Delete</a>
                    <a href="{% url 'job-applications' job.id %}" class="btn btn-success btn-sm mx-1">Show Applicants</a>
                </div>
              </li>
            {% empty %}
              <li class="list-group-item text-center">No jobs posted yet.</li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="mt-4 text-center">You haven't posted any jobs yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
